VITE_API_BASE_URL=http://localhost:3000/v1
VITE_KEYCLOAK_URL=http://localhost:8080/auth
VITE_KEYCLOAK_REALM=algaguard
VITE_KEYCLOAK_CLIENT_ID=algaguard-web
VITE_WEBSOCKET_URL=ws://localhost:3008/realtime
